{{- with (index .Attributes "filename") -}}
  {{- $href := index $.Attributes "href" -}}
  {{- if $href -}}
    {{- $href = partial "docs/links/portable-link" (dict "Page" $.PageInner "Destination" $href) -}}
  {{- end -}}
<div class="book-codeblock-filename">
  <a {{ with $href }}href="{{ . }}"{{ end }}>{{ . }}</a>
</div>
{{- end -}}
{{- $highlighted := (transform.HighlightCodeBlock . .Options).Wrapped -}}
{{- if eq (lower .Type) "powershell" -}}
  {{- $highlighted = replaceRE `<span style="[^"]*">:</span>` `:` $highlighted -}}
{{- end -}}
{{- $highlighted | safeHTML -}}
